.git
.github
**/.DS_Store
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/
**/.venv/
**/venv/
**/.env
**/.env.*
**/*.sqlite
**/*.db
**/node_modules/
frontend/build/
**/dist/
**/build/
**/coverage/
**/*.log
